<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    {% block content %}
    <script src="http://unpkg.com/jquery"></script>
    <!-- Includes jquery -->
    <script src="/static/script.js"></script>
    <!-- includes the script i write -->
    <script src="https://unpkg.com/axios"></script>
    <!-- includes axios -->
    <script>
      let game = new BoggleGame("boggle", 60);
    </script>
    <!-- This initializes the game -->
    {% endblock %}
  </body>
</html>
